<h1 id="header" class="text-center">Advice Board</h1>

<div id="signInStuff" >
  <div class="container h-100">
    <div class="row h-30 justify-content-center align-items-center">
      <div class="col">
          <%= flash[:message] %>
      </div>
      <div class="w-100"></div>
      <div class="col">
          <%= form_for :auth do |f| %>
            <%= f.text_field :name %><br>
            <%= f.submit "Login", class:"btn btn-link" %>
          <% end %>
      </div>
      <div class="w-100"></div>
      <div class="col">
      <%= link_to "Register", new_user_path, method: 'get', id: "register" %>
      </div>
    </div>
  </div>   
</div> 
      
      
      