<div id="categories">
<p>This advice is relevant to:</p>
<% @advice.categories.each do |category|  %>
  <%= category.name %>
<% end %>
</div>

<p><%= "#{@advice.content} - #{@advice.user.name}" %></p>

<p>
Comments:<br>
<% @advice.comments.each do |comment| %>
  <%= "#{comment.content} - #{comment.user.name}" %><br>
<% end %>
</p>

<%= button_to "New Comment", new_comment_path, method: 'get' %>
<%= link_to "Back to Categories", categories_path, id: "white" %>