<h1 style="font-size:4vw;text-align:center">This advice is relevant to:</h1>
<div id="relevantAdvice">
  <% @advice.categories.each do |category|  %>
    <%= category.name %>
  <% end %>
</div>

<div style="text-align:center;margin-top:3%;margin-bottom:3%;font-size:3vw">
<div style="word-wrap:break-word;margin-left:8%;margin-right:8%"><%= @advice.content %></div> - <%= @advice.user.name %>
</div>

<div id="comments">
<div id="comment">Comments:</div>
<% @advice.comments.each do |comment| %>
  <%= "#{comment.content} - #{comment.user.name}" %><br>
<% end %>
</div>

<div class="bottomleft">
  <%= button_to "New Comment", new_advice_comment_path(@advice), method: 'get', class:"btn btn-link" %>
</div>

<%= link_to "Back to Categories", categories_path, id: "white", class: "bottomright" %>
<div class="topleft"><%= link_to @user.name, user_path(@user), id: "white"%></div>
<div class="topright"><%= link_to "Log Out", logout_path, id: "white"%></div>
