<h1 id="header" class="text-center">Advice Board</h1>
<div class="container h-50">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col">
      <%= link_to @categories[0].name, category_path(@categories[0]), id: "categories" %>
    </div>
    <div class="col">
      <%= link_to @categories[1].name, category_path(@categories[1]), id: "categories" %>
    </div>
    <div class="col">
      <%= link_to @categories[2].name, category_path(@categories[2]), id: "categories" %>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <%= link_to @categories[3].name, category_path(@categories[3]), id: "categories" %>
    </div>
    <div class="col">
      <%= link_to @categories[4].name, category_path(@categories[4]), id: "categories" %>
    </div>
    <div class="col">
      <%= link_to @categories[5].name, category_path(@categories[5]), id: "categories" %>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <%= link_to "View All", advices_path, id: "categories"%><br>
    </div>
  </div>
</div>

<div class="topleft"><%= link_to @user.name, user_path(@user), id: "white"%></div>
<div class="topright"><%= link_to "Log Out", logout_path, id: "white"%></div>


