<h1 class="pagetitles">Advice for <%= @category.name %></h1>

<ul style="margin-top:6%">
  <% @category.advices.each do |advice| %>
    <li class="advicelist">
      <%= link_to advice.content, advice_path(advice), id: "white" %>
    </li>
  <% end %>
</ul>

<div class="bottomleft">
  <%= button_to "Create New Advice", new_advice_path, method: 'get', class:"btn btn-link" %>
</div>

<%= link_to "Back to Categories", categories_path, id: "white", class:'bottomright' %>
<div class="topright"><%= link_to "Log Out", logout_path, id: "white"%></div>
<div class="topleft"><%= link_to @user.name, user_path(@user), id: "white"%></div>
